img {
  content: normal !important;
  max-width: 100%;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.blurIn {
  animation: blurIn 0.3s linear;
}


@keyframes blurIn {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0);
  }
}